/* Boxes */
.columns{
    grid-template-columns: auto;
    justify-content: center;
}
.box{
    height: 200px;
    width: 500px;
    
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: rgb(50, 200, 205);
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
}